/* HomeScreen.css */
body {
    background-color: #bebfad;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
}
.mainContainer {
    width: 1100px;
    margin: 0 auto; 
    padding: 20px; 
    box-sizing: border-box;
    background-color: #f2eedd; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
  
.titleContainer {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}

.titleContainer h1 {
    font-family: 'Arial', sans-serif;
    font-size: 3rem;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.2;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.descriptionContainer{
    text-align: center;
    margin-bottom: 40px;
    padding: 0 100px;
}

.descriptionContainer p{
    font-size:17px;
    letter-spacing: 0.5px;
    color: #333;
    font-weight: normal;
}

.summary_imgContainer{
    display: flex;
    flex-direction: row;
    height: 400px;
    padding: 0 100px;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.summary_imgContainer p{
    flex: 1;
    margin-right: 20px;
    letter-spacing: 1.5px;
    line-height: 1.2;
}

.summary_imgContainer img{
    max-height: 100%;
    object-fit: cover;
}
.goalContainer{
    display: flex;
    flex-direction: row;
    padding: 0 100px;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.goalContainer p{
    flex: 1;
    margin-right: 20px;
    letter-spacing: 1.5px;
    line-height: 1.2;
    font-size: larger;
    text-align: center;
}
/* Education */
.educationContainer{
    padding: 0 100px;
    display: grid;
    flex-wrap: wrap;
    flex-direction: column;
}



.universityContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 20px 0;
}
.universityContainer > div{
    background-color: #142410;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 8px;
    position: relative;
    margin: 10px;
    padding: 5px 5px;
    color: white;
}

.onlineCoursesContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 20px 0;
}
.onlineCoursesContainer > div{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 190px;
}
.onlineCoursesContainer img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}
.onlineCoursesContainer p{
    text-align: center;
    margin: 5px 0; 
}